body {
    font-family: sans-serif;
}
header{
    padding: 15px;
    background-image: linear-gradient(to right,#CD0074,#0A64A4);
    border-radius: 6px;
}
.link-header{
    text-decoration: none;
    color:whitesmoke;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    background-color: black;
}
h1{
    text-transform: uppercase;
    background: linear-gradient(to right,#1B1BB3,#0B61A4,#530FAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.link-header:hover{
    text-decoration: none;
    font-size: 17px;
    box-shadow: 0px -6px 3px 0 rgb(39, 32, 32);
    transition: all 0.1s linear;
}


.text-big{
    text-align: center;
     text-transform: uppercase;
    background: linear-gradient(to right,#1B1BB3,#0B61A4,#530FAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
p {
    font-size: 17px;
     background: linear-gradient(to right,red,orange,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.link-text{
 text-decoration: none;  
 color: purple; 
}

.link-nav{
    text-decoration: none;
    margin-left: 200px;
    color: black;
    border: 3px solid black;
    border-radius: 6px;
    padding: 3px;
   
}
nav{
     margin-top: 7px;
}
.link-nav:hover{
    font-size: 15px;
}

p{
    font-size: 20px;
    background: linear-gradient(to right,#1B1BB3,#0B61A4,#530FAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

